{% extends 'base.html' %}

{% block title %}
  WEB_PyonFlask
{% endblock %}

{% block content %}
  <h1>Главная страница</h1>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Nostrum, quia. Est, voluptatibus provident?</li>
  <li>Possimus, quisquam? Quasi, magni iste.</li>
  <li>In excepturi explicabo possimus vitae.</li>
  <li>Aut hic molestias minima atque!</li>
  <li>Consequatur commodi accusamus repudiandae. Ad.</li>
  <li>Deleniti nemo architecto ullam animi.</li>
  <li>Ad facere rem nesciunt similique?</li>
  <li>Expedita, autem quas! Nulla, quidem?</li>
  <li>Itaque, illo modi! Modi, enim!</li>
  <li>Reiciendis, sequi. Cumque, molestiae rem.</li>
  <li>Dolor autem doloribus hic iure!</li>
  <li>Atque repudiandae ab alias assumenda.</li>
  <li>Omnis sequi similique pariatur quibusdam!</li>
  <li>Dolorum eos sapiente nihil architecto!</li>
  <li>Ex dolorum provident maxime fugit.</li>
  <li>Nihil nulla sit debitis quasi?</li>
  <li>Velit, minus ex. Explicabo, non!</li>
  <li>Est doloribus unde doloremque repellat.</li>
  <li>Magni dolore blanditiis ducimus modi!</li>
  <li>Eos molestias quidem ipsam earum!</li>
  <li>Laboriosam quam exercitationem ad porro!</li>
  <li>Expedita unde delectus nemo fugiat?</li>
  <li>Quo molestias modi mollitia facilis!</li>
  <li>Aut non nesciunt quas odit!</li>
  <li>Iste dolorum et repellendus ad!</li>
  <li>Exercitationem minima numquam beatae laudantium!</li>
  <li>Nihil minima atque ipsa quaerat.</li>
  <li>Voluptatibus repellendus at perferendis cum.</li>
  <li>Recusandae, minima temporibus! Harum, sit!</li>
  <li>Soluta laborum voluptas fugit veritatis?</li>
  <li>Laudantium distinctio odio dolores eos!</li>
  <li>Officiis, aperiam cum. Unde, deleniti!</li>
  <li>Sunt nostrum nesciunt at aliquam.</li>
  <li>Voluptatum ab distinctio rerum nihil.</li>
  <li>Perferendis adipisci ut beatae enim.</li>
  <li>Vel iusto accusamus repellat cupiditate.</li>
  <li>Nihil asperiores atque consequuntur laborum.</li>
  <li>Quidem adipisci consectetur laboriosam iusto!</li>
  <li>Culpa esse repellendus nisi labore!</li>
  <li>Ab esse eos quos deleniti!</li>
  <li>Similique ex repellat quasi eveniet!</li>
  <li>Dignissimos, ipsam. Id, sunt! Maxime!</li>
  <li>Numquam, sed praesentium. Placeat, deleniti.</li>
  <li>Repudiandae numquam soluta amet sed.</li>
  <li>Quia doloribus beatae molestias expedita!</li>
  <li>Dicta dolorem tenetur ducimus earum.</li>
  <li>Asperiores delectus nam recusandae voluptatibus?</li>
  <li>Aperiam minus odit distinctio aliquid!</li>
  <li>Eligendi itaque eaque voluptates error!</li>
  <li>Adipisci temporibus accusantium nisi autem.</li>
  <li>Et vitae minima quam officia!</li>
  <li>Tempore ea porro nostrum culpa?</li>
  <li>Libero nobis veritatis nemo sed.</li>
  <li>Quo eos excepturi neque impedit!</li>
  <li>Doloremque ipsum exercitationem ea facere.</li>
  <li>Unde exercitationem officia beatae eveniet!</li>
  <li>Dicta, illum velit! Obcaecati, voluptas.</li>
  <li>Voluptate similique dignissimos illo commodi!</li>
  <li>Doloribus recusandae saepe et assumenda.</li>
  <li>Ad placeat libero at temporibus?</li>
  <li>Odio ea consequatur adipisci laudantium!</li>
  <li>Adipisci enim ipsam fuga rerum?</li>
  <li>Quos minima tempore sed id?</li>
  <li>Itaque, molestias voluptate? Ducimus, ut?</li>
  <li>Facilis atque odit minima laboriosam?</li>
  <li>Ipsa aperiam officia harum excepturi?</li>
  <li>Autem similique impedit dolor magnam?</li>
  <li>Nobis suscipit quo adipisci ad?</li>
  <li>Veniam quae repellat iure tenetur!</li>
{% endblock %}
